
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/menu') %>
    </header>
    <main>
        <h1>Página de cadastro</h1>
        <form action="" method="POST">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="<%= pessoa.nome %>" required>
            </div>
            <div>
                <label for="idade">Idade:</label>
                <input type="text" id="idade" name="idade" value="<%= pessoa.idade %>" required>
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email"
                value="<%= pessoa.email %>" required>
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>